<style>
	a:hover {
		background: none;
	}
	
	.images {
		margin-bottom: 50px;
	}
	
	div.span3 {
		background: white;
		border: 1px solid #eee;
		border-radius: 5px;
		padding: 30px;
	}
	
	.images img {
		height: 100px;
	}
</style>

<h2>Enterprise Analog Gateways</h2>

<div class="row images">
	<div class="span3 pagination-centered">
		<%= link_to (image_tag "/img/products/enterprise_gateways/gxw4024_1.png", alt: "GXW-4024"), action: "index", filter: "gxw4024" %>
		<h5>GXW-4024</h5>
	</div>
	<div class="span3 pagination-centered">
		<%= link_to (image_tag "/img/products/enterprise_gateways/gxw400x_1.png", alt: "GXW-400x"), action: "index", filter: "gxw400x" %>
		<h5>GXW-400x</h5>
	</div>
	<div class="span3 pagination-centered">
		<%= link_to (image_tag "/img/products/enterprise_gateways/gxw410x_1.png", alt: "GXW-410x"), action: "index", filter: "gxw410x" %>
		<h5>GXW-410x</h5>
	</div>
</div>

<div class="row images">
	<div class="span3 pagination-centered">
		<%= link_to (image_tag "/img/products/enterprise_gateways/gxw42xx.png", alt: "GXW-42xx"), action: "index", filter: "gxw42xx" %>
		<h5>GXW-42xx</h5>
	</div>
</div>