<style>
	a:hover {
		background: none;
	}
	
	.images {
		margin-bottom: 50px;
	}
	
	div.span3 {
		background: white;
		border: 1px solid #eee;
		border-radius: 5px;
		padding: 30px;
	}
	
	.images img {
		height: 100px;
	}
</style>

<h2>IP PBX</h2>

<div class="row images">
	<div class="span3 pagination-centered">
		<%= link_to (image_tag "/img/products/unified_communications/UCM6104_left.jpg", alt: "UCM6100"), action: "index", filter: "ucm6100" %>
		<h5>UCM-6100</h5>
	</div>
</div>