<style>
	a:hover {
		background: none;
	}
	
	.images {
		margin-bottom: 50px;
	}
	
	div.span3 {
		background: white;
		border: 1px solid #eee;
		border-radius: 5px;
		padding: 30px;
	}
	
	.images img {
		height: 100px;
	}
</style>

<h2>IP Video Telephony</h2>

<div class="row images">
	<div class="span3 pagination-centered">
		<%= link_to (image_tag "/img/products/ip_video_telephony/gxv3175_2.png", alt: "GXV3175v2"), action: "index", filter: "gxv3175" %>
		<h5>GXV-3175v2</h5>
	</div>
	<div class="span3 pagination-centered">
		<%= link_to (image_tag "/img/products/ip_video_telephony/GXV3140.gif", alt: "GXV3140"), action: "index", filter: "gxv3140" %>
		<h5>GXV-3140</h5>
	</div>
</div>