<h2><%= @product_name %></h2>

	<style>
		.thumbnails li {
			background: white;
		}
	</style>

<div class="row">
	<ul class="thumbnails">
		<% @images.each do |image| %>
			<li class="thumbnail">
				<%= link_to (image_tag image.img.url(:thumb)), image.img.url %>
			</li>
		<% end %>
	</ul>
</div>

<%= will_paginate @images%>